
        {% extends 'base.html.twig' %}
       
{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {# {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="success">
            {{ message }}
        </div>
    {% endfor %} #}

    {# {{ form_start(registrationForm) }} #}
    {{ form_start(registrationForm, {'method': 'post', 'action': path('app_register')}) }}
    {# {{ form_start(registrationForm, {'method': 'POST'}) }} #}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}

        <div class="form-group">
            <label>{{ form_label(registrationForm.plainPassword.first) }}</label>
            <div class="password-container">
                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'password-input'}}) }}
                {# <button type="button" class="toggle-password"><i class="fa fa-eye"></i></button> #}
            </div>
        </div>
        
        <div class="form-group">
            <label>{{ form_label(registrationForm.plainPassword.second) }}</label>
            <div class="password-container">
                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'password-input'}}) }}
                {# <button type="button" class="toggle-password"><i class="fa fa-eye"></i></button> #}
            </div>
        </div>
        {{ form_row(registrationForm.pseudo) }}
        {# {{ form_row(registrationForm.userType) }} #}
        {# {{ form_row(registrationForm.userType, {'attr': {'id': 'user-type'}}) }} #}
        {# <div id="vehicle-form" style="display: none;">
            <h3>Informations du véhicule</h3>
            {{ form_row(registrationForm.vehicles) }}
        </div> #}
        
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
 
   

{% endblock %}
