<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Covoiturage{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    
    {% extends 'base.html.twig' %}

    {% block title %}Créer un trajet{% endblock %}
    
    {% block body %}
        <h1>Créer un nouveau trajet</h1>
        {{ form_start(form) }}
            {{ form_row(form.departure) }}
            {{ form_row(form.destination) }}
            {{ form_row(form.date) }}
            {{ form_row(form.price) }}
            {{ form_row(form.availableSeats) }}
            <button type="submit">Publier</button>
        {{ form_end(form) }}
    {% endblock %}
    
</body>
</html>