<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Covoiturage{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    
    {% extends 'base.html.twig' %}

    {% block title %}Détails du trajet{% endblock %}
    
    {% block body %}
        <h1>{{ ride.departure }} ? {{ ride.destination }}</h1>
        <p>Date : {{ ride.date|date('d/m/Y H:i') }}</p>
        <p>Conducteur : {{ ride.driver.username }}</p>
        <p>Places disponibles : {{ ride.availableSeats }}</p>
        <p>Prix : {{ ride.price }} ?</p>
    
        {% if app.user and app.user != ride.driver %}
            <a href="{{ path('ride_book', { id: ride.id }) }}" class="btn">Réserver une place</a>
        {% endif %}
    {% endblock %}
    
</body>
</html>