{% extends 'base.html.twig' %}

{% block title %}Inscription √ une activit√©{% endblock %}

{% block stylesheets %}
    {# <style>
        .activite-form {
            max-width: 600px;
            margin: 0 auto;
        }
        .activite-form .form-group {
            margin-bottom: 15px;
        }
        .activite-form label {
            font-weight: bold;
        }
        .activite-form .form-control {
            width: 100%;
        }
    </style> #}
{% endblock %}

{% block body %}
    <h1>Inscription √† une activit√©</h1>
    {# {{ form_start(form, {'attr': {'class': 'activite-form'}}) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.description) }}
        {{ form_row(form.date) }}
       // <button type="submit">S'inscrire</button>
       <button class="btn btn-primary">S'inscrire</button>
    {{ form_end(form) }} #}
    <div class="container mt-5">
      
        {{ form_start(form, {'attr': {'class': 'activite-form'}}) }}
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                {{ form_label(form.nom, null, {'label_attr': {'class': 'mr-2'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control mb-2'}}) }}
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                {{ form_label(form.description, null, {'label_attr': {'class': 'mr-2'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control mb-2'}}) }}
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                {{ form_label(form.date, null, {'label_attr': {'class': 'mr-2'}}) }}
                {{ form_widget(form.date, {'attr': {'class': 'form-control mb-2'}}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
