<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Covoiturage{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
            {# <li><a href="{{ path('home') }}">Accueil</a></li> #}
            {# <li><a href="{{ path('ride_list') }}">Trajets</a></li> #}
            {# {% if app.user %}
                <li><a href="{{ path('user_profile') }}">Profil</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                {# <li><a href="{{ path('app_register') }}">Inscription</a></li> #}
            {#{% endif %} #}
        </ul>
    </nav>
</body>
</html>
